<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h1>Edit <%= @article.title %></h1>

      <%= render 'form' %>
    <hr>
      <%= link_to "go back to articles list", articles_path %>
    </div>
  </div>
</div>
